/* LAYOUT CSS */
body{

  background-color: $background-color;
}
.cover {
  background-color: $background-color;
  position: fixed;
  text-align: center;
  width: 100%;
  min-height: 400px;
  padding: 30px 15px 20px;
  z-index: 1;
  background-image: url("../img/sidebar-bg.jpg");
  background-size: cover;
  @include media-query($small-screen) {
    background-position: center;
    padding: 30px;
  }
  @include media-query($medium-screen) {
    height: 100vh;
    background-position: initial;
    position: initial;
    width: 100%;
  }
}
.cover-card {
  // color: $text-color;
  padding: 0 30px;
  .avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: none;
  }
  .author_name {
    display: block;
    color: #d5c4bc;;
    font-size: 2.5em;
    // text-transform: lowercase;
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .author_job {
    display: block;
    color: #596573;//$secondary;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    margin: -5px auto 10px;
  }
  .author_bio {
    font-size: 110%;
    display: block;
    font-family: "Slabo 13px", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
  }
  @include media-query($medium-screen) {
    text-align: center;
    margin: 0 auto;
    padding: 75px 20% 80px 20%;
  }
}
.social-links {
  margin-top: 0.5em;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      margin-left: 1em;
      a.social-link-item {
        color: $secondary;
        &:hover,
        &:focus {
          color: lighten($secondary, 14%);
        }
      }
    }
  }
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  .nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    & a {
      margin: .5em;
      text-transform: lowercase;
      color: $secondary;
      &:hover,
      &:focus {
        color: lighten($secondary, 14%);
    font-weight: 800;
      }
    }
  }
}
