{{ define "main" }}
  <section id="about">
    <div class="intro">
      {{ if eq .Site.Language.Lang "pt" }}
      <p class="intro-greeting">Bem vindo ao meu jardim virtual.</p>
      <p>Sou um artista amador e programador profissional. Atualmente morando <strong>off-grid</strong> no sul do Brasil.</p>
      <p>Como em meu jardim, aqui eu planto ideias no estado que elas surgem, algumas florescem e se tornam grandes árvores outras tem uma vida curta e são abandonadas junto com as ervas daninhas.</p>
      <p>Alguns textos são ensaios, outros apenas desabafos ou apenas notas pra mim mesmo que decidi deixar publicos. Às vezes polidos, às vezes apenas rascunhos.</p>
      <p>Aproveite a paisagem e se alguma coisa chamar a atenção, fique à vontade para pegar uma muda e levar pra seu próprio jardim, só não repara a bagunça.</p>
      {{ else }}
      <p class="intro-greeting">Welcome to my virtual garden.</p>
      <p>I'm an amateur artist and professional programmer. Currently living <strong>off-grid</strong> in southern Brazil.</p>
      <p>Like in my garden, here I plant ideas in the state they emerge, some flourish and become great trees while others have a short life and are abandoned along with the weeds.</p>
      <p>Some texts are essays, others just venting or simply notes to myself that I decided to make public. Sometimes polished, sometimes just drafts.</p>
      <p>Enjoy the landscape and if something catches your attention, feel free to take a cutting and bring it to your own garden, just don't mind the mess.</p>
      {{ end }}
    </div>

    {{ if isset .Site.Params "social" }}
    <p class="social-links">
      {{ range $index, $elem := .Site.Params.social}}
        {{ if eq $elem.name "email" }}
        <a class="icon" target="_blank" rel="noopener" href="mailto:{{ $elem.link }}" title="Email">
          <i class="fas fa-envelope"></i>
        </a>
        {{ else if eq $elem.name "rss" }}
        <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}" title="RSS">
          <i class="fas fa-rss"></i>
        </a>
        {{ else }}
        <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}" title="{{ $elem.name | title }}">
          <i class="fab fa-{{ lower $elem.name }}"></i>
        </a>
        {{ end }}
      {{ end }}
    </p>
    {{ end }}
  </section>

  <section id="writing">
    {{ if eq .Site.Language.Lang "pt" }}
    <span class="h1"><a href="{{ .Site.Params.mainSection | relLangURL }}">Textos</a></span>
    <span class="h2">Mais recentes</span>
    {{ else }}
    <span class="h1"><a href="{{ .Site.Params.mainSection | relLangURL }}">Writings</a></span>
    <span class="h2">Most recent</span>
    {{ end }}

    {{ $dataFormat := .Site.Params.dateFormat | default "2006-01-02" }}
    <ul class="post-list">
      {{ range (where .Pages "Section" "posts") }}
      {{ .Scratch.Set "count" 5 }}
      {{ if isset .Site.Params "postsonhomepage" }}
        {{ .Scratch.Set "count" .Site.Params.postsOnHomePage }}
      {{ end }}
      {{ range (first (.Scratch.Get "count") (sort .Paginator.Pages "Date" "desc")) }}
        <li class="post-item">
          <div class="meta"><time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time></div>
          <span><a href="{{ .Permalink }}">{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{ end }}</a></span>
        </li>
      {{ end }}
      {{ if gt (len .Paginator.Pages) (.Scratch.Get "count") }}
      <h3><a href="{{ .RelPermalink }}">{{ if eq $.Site.Language.Lang "pt" }}Ver todos os posts{{ else }}Read all posts{{ end }}</a></h3>
      {{ end }}
      {{ end }}
    </ul>

    {{ if (and (and (isset .Site.Params "tagsoverview") (eq .Site.Params.tagsOverview true)) (gt (len .Site.Taxonomies.tags) 0)) }}
    <span class="h2">{{ if eq .Site.Language.Lang "pt" }}Tópicos{{ else }}Topics{{ end }}</span>
    <span class="widget tagcloud">
      {{ $AllRegularPagesCount := len .Site.RegularPages }}
      {{ range $elem := .Site.Taxonomies.tags.Alphabetical }}
      <a style="font-size: {{ (add 0.5 (mul 5 (div (float $elem.Count) $AllRegularPagesCount))) }}rem;" href="{{ $elem.Page.Permalink }}">
        {{- .Page.Title -}}
      </a>
      {{ end }}
    </span>
    {{ end }}
  </section>

  <section id="projects">
    {{ if eq .Site.Language.Lang "pt" }}
    <span class="h1"><a href="/projects/">Projetos</a></span>
    <p>Meus projetos se dividem geralmente em tres áreas:</p>
    <ul class="project-list">
      <li class="project-item"><a href="/categories/off-grid/">Off-grid</a>: Energia solar, autonomia e vida sustentável</li>
      <li class="project-item"><a href="/categories/arte/">Arte</a>: Fotografia, viagens e cozinha</li>
      <li class="project-item"><a href="/categories/tecnologia/">Tecnologia</a>: Um pouco de código e um pouco de hardware</li>
    </ul>
    {{ $showProjectsList := false }}
    {{ if .Site.Data.projects }}
    {{ $showProjectsList = true }}
    {{ else if (isset .Site.Params "showProjectsList") }}
    {{ $showProjectsList = .Site.Params.ShowProjectsList }}
    {{ end }}
    {{ if $showProjectsList }}
    <h2>Alguns projetos de destaque:</h2>
    <ul class="project-list">
      {{ range (first 5 .Site.Data.projects.list) }}
      <li class="project-item">
        <a href="{{ .url }}">{{ .name }}</a>: {{ .desc | markdownify }}
      </li>
      {{ end }}
    </ul>
    <h3><a href="/projects/">Ver todos</a></h3>
    </section>
    {{ end }}

    {{ else }}
    <span class="h1"><a href="/en/projects/">Projects</a></span>
    <p>My projects are divided into three areas:</p>
    <ul class="project-list">
      <li class="project-item"><a href="/en/categories/off-grid/">Off-grid</a>: Solar energy, autonomy and sustainable living</li>
      <li class="project-item"><a href="/en/categories/art/">Art</a>: Photography, travel and literature</li>
      <li class="project-item"><a href="/en/categories/code/">Code</a>: Go, Python and systems architecture</li>
    </ul>
    <h3><a href="/en/projects/">See philosophy and projects</a></h3>
    {{ end }}
  </section>
{{ end }}