<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="row post-listing">
    <div class="col s2" style="width:15%;">
      <div class="table--cover" style="height: 100vh; position: initial; width: 100%;">
        <!-- {% include sidebar.html %} -->
      </div>
    </div>
    <div class="col s8" style="width:70%;">
      <div class="">
        {{ content }}
        {% include footer.html %}
      </div>
    </div>
    <div class="col s2" style="width:15%;">
      <div class="table--cover" style="height: 100vh; position: initial; width: 100%;">
        <!-- {% include sidebar.html %} -->
      </div>
    </div>
  </div>
  {% include js.html %}
</body>
</html>
